<div id="<%= dom_id student %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Student urn:</strong>
    <%= student.student_urn %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= student.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Date of birth:</strong>
    <%= student.date_of_birth %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Address:</strong>
    <%= student.address %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= student.phone %>
  </div>
</div>
